.hero-top{
    height: 800px;
}
.logo img{
    width: 150px;
    margin-left: -40px;
}
.try{
    width: 120px;
    margin-left: 60px;
}
.hero-text{
    flex-direction: column;
}
.left{
    width: 100%;
}
.get-started{
    margin-left: 0px;
}
.left h1{
    font-size: 25px;
    text-align: center;
    padding: 0 30px;
    margin-left: -80px;
}
.left p{
    text-align: center;
    margin-left: -80px;
    padding: 0 50px;
}
.right img{
    width: 300px;
    margin-left: -30px;
}
.info{
    flex-direction: column;
    margin-left: 40px;
    margin-right: 20px;
    width: 300px;
    height: 500px;
}
.sideL{
    width: 100%;
    order: 2;
    padding: 0;
    text-align: center;
    margin-top: 30px;
} 
.sideL p{
    width: 100%;
    padding: 0 20px;
}
.sideR img{
    width: 250px;
    margin: 0;
    margin-left: 30px;
    margin-top: 20px;
}
.midleft img{
    width: 250px;
    margin-left: 30px;
    margin-top: 30px;
}
.midright{
    width: 100%;
    padding: 0;
    text-align: center;
    margin-top: 30px;
}
.midright p{
    width: 100%;
    padding: 0 20px;
}
.ready{
    width: 320px;
    height: 150px;
    margin: 0;
    margin-left: 30px;
    padding: 0;
}
.ready h1{
    text-align: center;
    font-size: 18px;
    padding-top: 30px;
}
.ready button{
    width: 200px;
    margin: 0;
}
.ready a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
}
footer{
    height: 850px;
    flex-direction: column;
    justify-content: none;
    padding: 0 30px;
}
footer .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.links{
    margin-top: -80px;
    margin-left: 20px;
    flex-direction: column;
}
.menace{
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0;
    width: 100%;
}
.parttwo{
    margin-top: 0;
    margin-left: 0px;
}
.medias{
    display: none;
}
.links{
    margin-top: -100px;
    padding: 0;
}
.huddle .socials{
    display: block;
    margin-top: 30px;
}
.huddle ul{
    display: block;
    list-style: none;
    margin-top: 30px;
}
.huddle p{
    margin-top: 20px;
    font-size: 12px;
}
.huddle li{
    margin-top: 10px;
}
.huddle ul a{
    text-decoration: none;
    color: white;
}